.grid-test {
  width: 100%;
  background-color: #dbdbdb;
  padding: 180px 0px;
  margin-top: -200px;

  //NOTA: El color de la fila y la columna solo lo he puesto dentro
  // de la clase .grid-test, para que se viera a la hora de montar el grid,
  // pero luego lo que quitado para el resto de la plantilla.
  .grid__row {
    background-color: $colorFila;
  }
  .col {
    background-color: aqua;
  }
}
.grid__row {
  width: 100%;
  max-width: $anchoGridFila;
  margin: $marginFilas auto;
  display: flex;
}
.col {
  margin: 0 auto;

  &-1-2 {
    width: calc((100% - $separacionHorizontal) / 2);
  }

  &-1-3 {
    width: calc((100% - 2 * $separacionHorizontal) / 3);
  }

  &-1-4 {
    width: calc((100% - 3 * $separacionHorizontal) / 4);
  }

  &-2-3 {
    width: calc((100% - $separacionHorizontal) / 3 * 2);
  }
  &-2-4 {
    width: calc((100% - 2 * $separacionHorizontal) / 4 * 2);
  }
  &-3-4 {
    width: calc((100% - $separacionHorizontal) / 4 * 3);
  }
}
