.heading-primary {
  color: $colorTextoHeaders;
  text-transform: uppercase;
  font-weight: 400;
  backface-visibility: hidden;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: $tamanyoh1;
    letter-spacing: 1.7rem;
    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  &--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    animation: moveToRight 1s ease;
  }
}
