//COLORES:
//Colores texto
$colorTextoHeaders: #fff;
$colorFuenteCuerpo: #777;
$colorFondoBlanco: #fff;

//Colores principales/más usados:
$colorVerde: #28b485;
$colorFila: #eee;

//MEDIDAS:
$anchoGridFila: 114rem;
$marginFilas: 8rem;
$separacionHorizontal: 6rem;
$iconSizeM: 4.5rem;
$rounded: 3px;
